 @media(min-width:1440px){
    .mx{
        margin-bottom: 3rem;
    }
    .p-1{
        margin-bottom: 3rem;
    }
    .image-2 {
        margin: 0 10rem;
    }.box{
        margin: 2rem 4rem;
    }

    .box-1 img {
        margin: .3rem;
        width: 22vw;
        /* height: 50vh; */
    }
    .section-4{
        height: 24rem
    }
    #para9{
        padding: 4rem;
    }
    .service-1{
        width: 30vw;
    }
    .button{
        margin: 1rem auto;
        font-size: 1.5rem;
    }
    .card-1 img {
        height: 24rem;
        width: 19rem;
    }
    .card{
        margin: 0;
    }
    .card-1 {
        padding: 0 15px;}
        .cards{
            margin: 2.5rem;
        }
.news{
    margin-top: 3rem;
}
form input {
    padding: 10px 50px;
    font-size: 18px;
}
footer{
    height:70px;

}
footer i {
    padding: .5rem;
}
h3{
    margin: .5rem 0;
}

}


@media(max-width:1024px){
    .mx {
        margin-bottom: 3rem;
    }
    .px {
        padding-top: 3rem;
        margin-bottom: 3rem;
    }
    .section-4{
        height: 18rem;
    }
    .middle{
        gap: 6px;
    }
    .image-2 {
        margin: 0px 2rem;
    }
    .box {
        margin: 1.5rem 2.5rem;
    }
    .button {
        margin: 0;
    }
    .para8{
        width: unset;
    }
    #para9 {
        padding: 1rem;
    }
.service-1{
    width: 28vw;
    height: 20vw;
}
.cards {
    margin: 2rem 3rem;
}
.card{
    justify-content: space-between;
}
.card-1 img {
    height: 16rem;
    width: 12rem;
}
.card-1 {
    padding: 0 8px;
}
.news {
    margin: 2rem;
    margin-bottom: 0;
}
.news-1 {
    height: 28rem;
    width: 18rem;
    padding: 1rem;
}
.news-1 img {
    width: 18rem;
}
.button {
    margin: 0 auto;
    margin-top: 1rem;
}

.box-1 img {
    background-size: cover;
    width: 35vh;
    height: 35vh;
}
h3{
    margin: .5rem 0;
}
}

@media(max-width:768px){
    .navbar {
        font-size: 1.3rem;
    }
    .header{
        height: 60px;
    }
    .navbar a{
        padding-left: 1rem;
    }
    .p-1 {
        margin: 4rem 2rem 2rem 2rem;
        font-size: 3rem;
    }
    .p-2{
        width: 80vw;
    }
    .btn{
        margin: 2rem 0;
    }
    .btn1{
        padding: 10px;
    }
    .flex{
        margin: 2rem;
    }
    .image-2{
        margin: 0;
        height: 18rem;
    }
    #para3 {
        width: 80vw;
        font-size: 1.2rem;
    }
    .box-1 img {
        width: 34vh;
        height: 32vh;
    }
    .middle{
        padding: 6px;
    }
    .px {
        padding-top: 2rem;}
        .section-4{
            height: 60vh;
        }
        .service-1 {
            width: 28vw;
            height: 30vw;
            padding-left: 2rem;
        }
        .cards{
            margin: 0rem 0;
        }
        .card-1{
            padding: 0;
        } 
        .card-1 img {
            height: 12rem;
            width: 10rem;
        }
        .card,.news{
            justify-content: flex-start;
            margin: 2rem .5rem;
        }
        
    .news-1 img {
        width: 14rem;
        height: 14rem;
    }
    .news-1 {
        height: 28rem;
        width: 14rem;
        padding: .7rem;
    }
    footer i {
        padding: .5rem;
    }
    footer{
        height: 60px;
    font-size: 1.2rem;
}
}


@media(max-width:480px){
    .header {
        height: 50px;
    }
    .img{

        background-size:contain;
    }
    .mx {
        margin-bottom: 2rem;
    }

    .header{
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .logo{
        font-size: 1.5rem;
    }
    .navbar {
        font-size: 1rem;
    }
    .navbar a {
        padding-left: .5rem;
    }
    .img{
        background-size: cover;
    }
    .p-1 {
        margin: 2rem 1rem 1rem 1rem;
        font-size: 2rem;
    }
    .p-2 {
        width: 100vw;
        font-size: 1rem;
    }
    .btn {
        margin: 1rem 0;
        gap: 15px;
    }

.btn1 {
        padding: 5px;
        font-size: 12px;
        font-weight: 400;
    }
    .para4{
        font-size: 1.5rem;
    }
    .para5{
        font-size: 1rem;
    }
    .middle{
        gap: 4px;
    }
    .flex {
        margin: 1rem;
    }
    .image-2{
        height: 14rem;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #para3 {
        width: 120vw;
        font-size: 12px;
    }
    .box {
        margin: 1rem 2rem;
    }
    .box-1 img {
        width: 98%;
        height: 22vh;
    }
        .para8{
            margin: 1rem;
            font-size: 1rem;
        }
        .section-4 {
            height: 14rem;
        }
        .service-1{
            padding-left: 1rem;
            width: 96%;
            height: 45vw;
        }
        .services{
            flex-direction: column;
        }
        .cards{
            display: flex;
            flex-wrap: wrap;
            margin: 1rem;
            row-gap: 25px;
            column-gap: 8px;
        }
        .card{
            margin: 0;

        }
        .card-1 img {
            height: 12rem;
            width: 12rem;
        }
        .news{
            margin: 1rem .5rem;
        }
        .news-1 {
            /* height: 24rem; */
            height: fit-content;
            width: 96%;
            padding: .7rem;
        }
        .news-1 img {
            width: 98%;
    }
    footer i {
        padding: .5rem;
    }
    footer p{
        font-size: 16px;
    }
    .service-1 i {
        margin: 0;}
}


@media(max-width:430px){    
    .mx {
    margin-bottom: 2rem;
}
.px{
    margin-bottom: 2rem;
}
.box{
    margin: 1rem;
    margin-bottom: .5rem;
}
    .p-2 {
        width: 98%}
    .box-1 img{
        width: 22vw;
        height: 13vh;
    }
    .services {
        margin-top: 3rem;
    }
    .service-1 {
        width: 90%;
        height: fit-content;
        padding: 1.5rem 1rem;
    }
    .news-1 img {
        height: 10rem;
       
    }
    .news-1 {
        /* height: 22rem; */
        height: fit-content;
        margin: .5rem;
        /* padding: 0; */
    }
        .button{
            padding: 6px 15px;
        }
}


@media(max-width:390px){
    .p-1{
       
        margin: 0;
        margin-top:1.5rem;
        margin-bottom:.5rem ;
        font-size: 1.6rem;
    }
    .navbar a {
        padding-left: .3rem;
    }
    .p-2{
        font-size: 14px;
    }
    .btn {
        margin: .5rem;
        gap: 8px;
    }
    .btn1 {
        padding: 5px;
        font-size: 8px;}
        #para9 {
            padding: 0rem;
        }
        .card-1 img {
            height: 10rem;
            width: 10rem;
        }
        .card-1 h3{
            padding: 0;
            font-size: 18px;
        }
        .service-1{
            padding: 1rem;
        }
        .cards{
            column-gap: 16px;
        }
        .box-1 img {
            width: 22vw;
            height: 12vh;
        }
        .button{
            padding: 6px 10px;
        }
        footer i {
            padding: .5rem;
        }
        footer{
            font-size: 1rem;
        }
   
        textarea{
            width: 250px;
        }
        h3{
            margin: .5rem 0;
        }
    }


@media(max-width:380px){
    .logo {
        font-size: 1.3rem;
    }
    .navbar a {
        padding-left: .2rem;
    }
    .navbar {
        font-size: 14px;
    }
    .p-1{

        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .p-2{
        font-size: 12px;
    }
    #para3 {
        font-size: 10px;
    }
    .box-1 img {
        width: 45vw;
        height: 20vh;
    }
    /* textarea{
        width: 200px;
    } */
    .services {
        margin-top: 2rem;
    }
    
    .service-1 {
        height: fit-content;
        padding: .5rem 1rem;
    }
    .cards{
        align-items: center;
        justify-content: center;
    }
    .news-1 {
        height: 22rem;
    }
    footer p {
        font-size: 12px;
    }
}

@media(max-width:320px){
    .p-1{
        font-size: 1.3rem;
    }
    .navbar a {
        padding-left: 0.1rem;
    }
    .news-1 h3 {
        padding: 0 0.5rem;
    }
    .news-1 {
        height: fit-content;
    }
}