* {
  margin: 0;
  padding: 0;
}

.header {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(197, 191, 191);
}

.header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

.navbar {
  display: inline-block;
  position: relative;
  left: 1rem;
  font-size: 1.5rem;
}

.navbar a {
  text-decoration: none;
  padding-left: 2rem;
  color: white;
}

.navbar a:hover,
.navbar a.active {
  color: #0ef;
}

.img {
  background-image: url("resources/main.jpg");
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#para {
  font-size: 4rem;
  color: white;
  text-align: center;
  top: 30vh;
  left: 17rem;
  position: absolute;
}

#para-2 {
  position: relative;
  top: 35vh;
  left: 20rem;
  color: white;
  text-align: center;
  width: 50vw;
  font-size: 1.5rem;
}

.btn {
  position: relative;
  top: 44vh;
  left: 26rem;
  display: flex;
  width: 35vw;
  height: 3rem;
}

.btn1 {
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  color: white;
  background-color:#0ef;
  text-align: center;
  border: 2px solid aqua;
  width: 17vw;
  margin-left: 2rem;
 
}
.btn1:hover{
  background-color: gray;
  border: 2px solid gray;
}
.section-2 {
  height: 120vh;
}

#para3{
  text-align: left;
  width: 50vw;
  font-size: 1.4rem;
  padding: 5rem 0 0 3rem;
}

hr{
  border: 4px solid aqua;
  border-radius: 50%;
  width: 50%;
  margin:2rem 25% 2rem 25%;
}
.image-2{
  background-image: url('resources/img-2.jpg');
  height: 20rem;
  width: 20rem;
  background-size: contain;
  position:relative;
  left: 60vw;
  bottom: 60vh;
  
}

.section-3{
  height: 130vh;
  text-align: center;
}

.para4{
  font-size: 2rem;
  font-weight: 400;
  padding: 8rem 0  1rem 0;
  text-align: center;
}

.para5{
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  color: gray;
}

.box{
  height: 70vh;
  margin: 2rem 0 0 2rem; 
  display:flex;
  flex-wrap: wrap-reverse;
  
}

.box-1 img{
  background-size: cover;
  width: 50vh;
  height: 35vh;
} 

.box-1 img:hover{
  cursor: pointer;

}
#para6{
  font-size: 1.5rem;
  padding: 1rem 0 1rem 0;
  color: gray;
}

.btn2{
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  color: white;
  background-color:#0ef;
  text-align: center;
  border: 2px solid aqua;
  width: 14vw;
  height: 40px;
  margin-bottom: 4rem;
}
.btn2:hover{
  border: 2px solid gray;
  background-color: gray;
}

.section-4{
  background-image: url('resources/box.8.jpg');
  background-size: cover;
  height:90vh;
  text-align: center;
  margin-top: 4rem;
}
#para8{
  color: rgb(8, 6, 6);
  text-align: center;
  width: 50vw;
  font-size: 1.5rem;
  padding:2rem 0 2rem 22rem;
}
#para9{
  color: #0ef;
  font-size: 1.5rem;
}

.section-5{
  text-align: center;
  height: 120vh;
}

.services {
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 4rem;
  height: 80vh;

 
}
.service-1{
  text-align: left;
  height: 15vw;
  width: 28vw;
  padding-left: 3rem;
}

.service-1 i{
  font-size: 2rem;
  margin: 0 0 .5rem 3rem;
}
.service-1 p ,h3{
  padding-left: 3rem;
}

.section-6{
  height: 120vh;
}

.card ,.news{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}
.card-1{
  width: 15rem;
  height:24rem;
  padding: 22px;
  text-align: center;

}
.cards{
  margin: 3rem;
}
.card-1 img{
  height: 20rem;
  width: 16rem;
  background-size: cover;
}

.card-1 h3,.news-1 h3{
  font-weight: 600;
  padding: 0.5rem;
}
.card-1 p,.news-1 p{
  color: gray;
  font-weight: 300;
  padding-left: 0.5rem;
}

.section-7{
  height: 80vh;
}

.section-7 video{
  margin: 7rem;
  height: 60vh;
  width: 80vw;
  background-color: #0ef;
  background-size: cover;
}

.section-8{
  height: 150vh;
}
.news-1{
  height:28rem;
  width: 24rem;
  padding: 1rem;
  text-align: left;
}

.news-1 img{
  height: 16rem;
  width: 24rem;
  background-size: contain;
}

.news-1 a{
  padding: .5rem;
  text-decoration: none;
  cursor: pointer;
}
.news-1 a:hover{
  color: blueviolet;
}

.button{
  height:3rem;
  width: 12rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: 2rem;
  left:42vw;
  border: 2px solid #0ef;
  border-radius: 4px;
  font-weight: 200;
  color: rgb(9, 9, 9);
  background-color: white;
}
.button:hover{
  font-weight: 600;
  background-color: #0ef;
  color: white;
}
.section-9{
  height: 150vh;
}
.input-box{
  height: 74vh;
  padding: .5rem;
}
form input{
  height: 2.5rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem 1rem 1rem 35%;
  border-radius: 4px solid #0ef;
}

form textarea{
  position: absolute;
  left: 35%;
}


footer{
  color: white;
  height: 100px;
  background-color:black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

footer i{
  padding: 1.5rem;
}
footer i:hover{
  color: blue;
  font-weight: 400;
}
footer a{
  text-decoration: none;
  color: white;
}

/* Responsiveness */